/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ny wrapper för bakgrund */
.background-container {
    position: fixed; /* Fixera bakgrunden så att den alltid är längst bak */
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%; /* Täck hela höjden */
    background-image: url('bakgrundnr2.jpg');
    background-position: center;
    background-size: 150%;
    z-index: -2; /* Placera bakgrunden under allt annat */
}

.background-container::before {
    content: ''; /* Pseudo-element för att visa bilden */
    position: absolute;
    bottom: 0; /* Flytta bakgrunden till botten */
    left: 0;
    width: 100%;
    height: 70%; /* Justera höjden till 30% om du vill ha en kortare bild, eller 100% för att täcka hela botten */
    background-image: url('fågel.png');
    background-repeat: no-repeat;
    background-size: contain; /* Bevara proportioner */
    background-position: center bottom; /* Placera bilden längst ner */
    z-index: -1; /* Säkerställ att det hamnar under innehållet */
}



/* För att fylla resterande 30% med svart */
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.content-container {
    position: relative; /* Innehåll över bakgrunden */
    z-index: 1; /* Placera ovanpå bakgrunden */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Täck hela höjden */
}


@media (max-width: 768px) {
    body {
        background-size: cover; /* Gör att bilden täcker skärmen */
        background-position: center; /* Centrera bilden */
    }

    .background-container::before {
        background-size: cover; /* Anpassa bakgrunden för små skärmar */
        background-position: center; /* Centrera på små skärmar */
    }

    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 2rem; /* Reducerad padding */
        text-align: center;
    }

    .ticket-container {
        padding: 2rem;
        border-radius: 10px;
        text-align: center;
        width: 100%;
        max-width: 400px;
    }

    .ticket-container h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: #ffffff;
    }

    .ticket-container p {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #ffffff;
    }

    #reader {
        margin-top: 0px;  /* Mindre margin för mindre enheter */
        height: 50vh;
    }

    button {
        width: 100%;
        padding: 1rem; /* Anpassa knappstorleken för mindre skärmar */
    }
}


@media (max-width: 480px) {
    body {
        height: auto; /* Adjust height for smaller screens */
    }

    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 1.5rem; /* Reduced padding for smaller screens */
        text-align: center; 
    }

    .ticket-container {
        padding: 1.5rem;
        border-radius: 10px;
        text-align: center;
        width: 100%;
        max-width: 350px; /* Slightly smaller max-width for small screens */
    }

    .ticket-container h1 {
        font-size: 1.6rem; /* Adjusted font size */
        margin-bottom: 1rem;
        color: #ffffff;
    }

    .ticket-container p {
        font-size: 0.9rem; /* Smaller font size */
        margin-bottom: 1rem;
        color: #ffffff;
    }

    #reader {
        margin-top: 0px;  /* Mindre margin för mindre enheter */
        height: 50vh;
    }
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem 2rem;
    position:fixed; /* Behåller navbaren i flödet */
    width: 100%;
    height: 10%;
    z-index: 10; /* Se till att navbaren ligger ovanför kameran */
}

.navbar .logo img {
    height: 50px; /* Sätt en passande höjd för logotypen */
    width: auto;  /* Bevara proportioner på logotypen */
    display: block;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1rem;
    font-weight: 400;
}

/* Footer */
.footer {
    position: fixed; /* Fixera footern längst ner på sidan */
    bottom: 0; /* Placera footern längst ner */
    left: 0;
    width: 100%; /* Se till att footern täcker hela bredden */
    text-align: center; /* Centrerar texten horisontellt */
    padding: 20px; /* Lägger till lite mellanrum runt om */
    color: #ffffff; /* Sätt textfärgen till vit */
    z-index: 100; /* Se till att footern ligger ovanpå andra element */
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #ffffff ;
}

/* Scanner Page */
.scanner-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

/* Camera Viewer */
#reader {
    width: 100vw;
    height: 100%;
    margin-top: 10vh;
}

/* General Button Styling */
button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    width: 100%;
    color: #ffffff;
    background-color: hsl(329.1, 84%, 69.02%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
button:hover {
    background-color: black;
    color: hsl(329.1, 84%, 69.02%);
}

/* Specific styling for accept button */
#accept-button {
    background-color: #28a745;  /* Green for "accept" */
}

#accept-button:hover {
    background-color: #218838;  /* Darker green on hover */
}

/* Specific styling for unlock button */
#unlock-button {
    background-color: #dc3545;  /* Red for "unlock" */
}

#unlock-button:hover {
    background-color: #c82333;  /* Darker red on hover */
}

/* Optional: Visibility control when button should be hidden */
button[style="display: none;"] {
    display: none !important;
}

/* Feedback Text */
#scan-feedback {
    position: relative;
    margin-top: 10vh;
    font-size: 16px;
    color: green;
    text-align: center;
}

/* History Widget */
.history-widget {
    background-color: #292929;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    color: #ffffff;
}

.history-widget ul {
    list-style: none;
    padding: 0;
}

.history-widget ul li {
    margin-bottom: 0.5rem;
}

/* Lock Screen */
.lockscreen-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: #ffffff;
}

.lockscreen-container {
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.lockscreen-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.lockscreen-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #cccccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#password-input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.bottom-buttons {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black; 
    padding: 10px 0;
    z-index: 1000; 
}

.bottom-buttons button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    background-color: hsl(329.1, 84%, 69.02%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lockscreen-form {
    display: flex;
    flex-direction: column; /* Gör att knapparna hamnar i en vertikal rad */
    gap: 10px; /* Lägg till ett gap mellan knapparna */
}

.control-button, .back-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    background-color: hsl(329.1, 84%, 69.02%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button {
    margin-top: 10px; /* Lägg till lite mellanrum ovanför "Go Back"-knappen */
}

.control-button:hover, .back-button:hover {
    background-color: black;
    color: hsl(329.1, 84%, 69.02%);
}

.error-message {
    font-size: 1rem;
    font-weight: bold;
    color: #ff4d4d; /* Röd färg för att indikera fel */
    background-color: black; /* Svart bakgrund för kontrast */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Stil för "Try Again"-knappen */
.try-again-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: black;
    background-color: hsl(329.1, 84%, 69.02%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.try-again-button:hover {
    background-color: black;
    color: hsl(329.1, 84%, 69.02%); /* Ljusare blå vid hover */
}

/* Main content */
.main-content {
    position: fixed;  /* Gör så att innehållet stannar på samma plats på skärmen */
    top: 10vh; /* Förskjut innehållet något ned från toppen för att ge plats åt navbaren */
    left: 0;
    width: 100%;
    min-height: 70vh; /* Se till att det täcker en viss del av skärmen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Placera allt högst upp */
    align-items: center; /* Centrera horisontellt */
    color: #ffffff;
    padding-top: 0; /* Ingen extra padding här nu eftersom vi justerar top */
    z-index: 1; /* Se till att det ligger ovanpå bakgrunden */
}

.ticket-container {
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 5;
    margin-top: 0;
}

.ticket-container h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.ticket-container p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto; /* Centrerar p */
    text-align: center;

}

#orderid {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.form-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    background-color: hsl(329.1, 84%, 69.02%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#scanner-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#guest-list-container {
    width: 100%;           /* Ta upp hela bredden av föräldern */
    max-width: 600px;      /* Begränsa bredden för stora skärmar */
    background-color: hsl(329.1, 84%, 69.02%);
    padding: 15px;
    margin-bottom: 20%;
}

#guest-list-container h3 {
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#guest-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    font-size: 14px;
}

#guest-list li {
    padding: 8px;
    border-bottom: 1px solid black;
}

#guest-list li:last-child {
    border-bottom: none;
}

#name-status-container {
    margin-top: 20px;
    text-align: center;
}

#name-status-container p {
    font-size: 16px;
} 

.ticket-form, .instructions {
    transition: opacity 0.3s ease;
}

/* När QR-koden visas, se till att visa resultatet i mitten */
#qr-code-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#qr-code-result img {
    max-width: 150%; /* Justera storleken på QR-koden */
    height: auto;
    display: block;
    background-color: black; /* Svart bakgrund runt QR-koden */
    padding: 40px; /* Utrymme runt QR-koden för att skapa kontrast */
    border-radius: 10px; /* Rundade hörn för design */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Skugga för djup */
    margin: 0 auto;
}

.ticket-form, .instructions {
    position: relative;
    z-index: 20;
}

/* Dölja instruktioner och formulär när QR-koden visas */
.ticket-form[style="display: none"], .instructions[style="display: none"] {
    opacity: 0;
}
